.detail {
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.detailPageText {
   width: 100%;
   height: 85vh;
   position: absolute;
   top: 50px;
   border: 1px solid green;
}

.images {
   width: 88%;
   height: 70%;
   margin-top: 20px;
}

.course {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
   display: flex;
   max-width: 100%;
   margin: 20px;
   overflow: hidden;
   width: 700px;
}


.course h6 {
   opacity: 0.6;
   margin: 0;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.course h2 {
   letter-spacing: 1px;
   margin: 10px 0;
}

.course-preview {
   background-color: #2A265F;
   color: #fff;
   padding: 30px;
   max-width: 250px;
}

.course-preview a {
   color: #fff;
   display: inline-block;
   font-size: 12px;
   opacity: 0.6;
   margin-top: 30px;
   text-decoration: none;
}

.course-info {
   padding: 30px;
   position: relative;
   width: 100%;
}

.progress-container {
   position: absolute;
   top: 30px;
   right: 30px;
   text-align: right;
   width: 150px;
}

.progress {
   background-color: #ddd;
   border-radius: 3px;
   height: 5px;
   width: 100%;
}

.progress::after {
   border-radius: 3px;
   background-color: #2A265F;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 5px;
   width: 66%;
}

.progress-text {
   font-size: 10px;
   opacity: 0.6;
   letter-spacing: 1px;
}

h4 {
   color: gray;
   font-weight: 500;
   font-size: 16px;
}

.continueBtn {
   background-color: #2A265F;
   padding: 8px 10px;
   border-radius: 20px;
   width: fit-content;
   text-align: center;
   color: white;
   cursor: pointer;
}